body {
	margin: 0;
}
.main-container {
	display: flex;
	flex-direction: column;
}
.header-section {
	min-height: 3em;
	text-align: center;
    line-height: 3em;
	color: white;
	font-size: 24;
	font-weight: bold;
	background-color: burlywood;
}
.body-section {
	padding-top: 3%;
	display: flex;
	flex: 1 1;
	flex-direction: row;
}
.list-section {
	display: flex;
	flex-direction: column;
	flex: 3 3;
	overflow: hidden;
	overflow-y: scroll;
	height: 80em;
	width: 18%;
	margin: 0px 15px;
	align-items: center;
}
.list-sheet {
	display: flex;
	flex-direction: row;
	flex: 7 7;
	margin-right: 2.8%;
}
.dropable-element-col {
	flex: 3.3 3.3;
	padding: 0 5px;
}
.dropable-element-row {
	flex: 1 1;
	padding: 0 5px;
}

.list-item {
	/* display: flex; */
	/* flex: 9 9; */
	margin-bottom: 4px;
	padding: 10;
	text-align: center;
	border: 1px solid gray;
	border-radius: 5px;
	width: 80%;
}
.list-item:hover {
	background-color: rgb(71, 199, 192);
	cursor: -webkit-grab;
}
.dropable-element {
	min-height: 43px;
	margin: 4px 0;
	border: 1px solid gray;
	border-radius: 5px;
	min-width: 25%;
}
button {
	background: white;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0 10;
	font-size: 20;
	font-weight: 100;
}
button:hover {
	cursor: pointer;
	background-color: burlywood;
	font-size: 25;
	font-weight: 300;
}
